@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    background-color: black;
    color: white;
    box-sizing: border-box;
}

#main {
    text-align: center;
    margin: 150px auto;
}

h1, h2, h3, p, #dateInput, .submit {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #21EB00;
}

p, #dateInput {
    color: gray;
    margin-top: -8px;
}

#dateInput, .submit {
    box-sizing: border-box;
    width: 30%;
    padding: 10px;
    border: 0;
    border-radius: 15px;
    margin-bottom: 10px;
}

#dateInput {
    background-color: #191A18;
    outline: none;
}

#dateInput::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}

.submit {
    display: inline-block;
    outline: none;
    text-decoration: none;
    background-color: #21EB00;
    color: black;
    font-size: 17px;
    font-weight: 800;
    cursor: pointer;
}

.submit-contador {
    width: auto;
    height: 40px;
    margin-top: 20px;
    margin-right: 20px;
}

#header {
    display: flex;
    justify-content: space-between;
}

#clock {
    display: inline-block;
    width: 320px;
    height: 100px;
    font-size: 80px;
}

#time-counter {
    margin-top: 30px;
    text-align: center;
}

#time-counter h2 {
    font-size: 90px;
    color: gray;
    margin: 0;
    margin-bottom: 20px;
}

#time-counter div {
    display: inline-block;
    margin: 10px 30px;
}

#time-counter h3 {
    font-size: 100px;
    margin: 0;
    margin-bottom: 10px;
}

#time-counter p {
    font-size: 30px;
    font-weight: 800;
    color: #21EB00;
}